/* dark mode options copied from my Chrome extension */
html {
    background-color: #181a1b !important;
}
html, body, input, textarea, select, button {
    background-color: #181a1b;
}
html, body, input, textarea, select, button {
    border-color: #575757;
    color: #e8e6e3
}
/* end dark mode options */

.square {
  height: 7em;
  width: 7em;
  word-break: break-all;
}

.flex-centered-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-weight: bold;
}